body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
}

h2 {
  color: #555555;
  margin-bottom: 5px;
}

p {
  color: #777777;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
}
